.jumbotron{
  background-color: rgba(159, 176, 212, 0.37);
  color: rgb(68, 68, 68);
}

body{
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Niramit', sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.top-button:visited, .top-button:link {
  border: solid 2px grey;
  background-color: grey;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: white;

}

.top-button:hover {
  background-color: #6e8ed3;
  text-decoration: none;
  color: white;
  
}

.top-button-active:visited, .top-button-active:link {
  border: solid 2px #6e8ed3;

}
